mixin post(data, gl_class)
  div(class=gl_class)
    a.post__link_pic(href="#")
      +picture(data.picture)
    .post__info
      a.post__title= data.title
      .post__inner
        span.post__autor= data.autor
        span.post__date= data.date
      +menu({
        gl_class: gl_class + '_card',
        items: data.links
      })
      .post__answer
        span.answer__count= data.count
        a.answer__link(href=data.linkAnswer)
          +icon('count')
