include mixins/_m_header
include mixins/_m_footer

mixin post(data, gl_class)
  div(class=`${gl_class}__card `)
    +picture(data.picture)
    .post__info
      h2.post__title= data.title
      .post__inner
        span.post__autor= data.autor
        span.post__date= data.date
      +menu({
        gl_class: gl_class + '_card',
        items: data.links
      })
      .post__answer
        span.answer__count= data.count
        a.answer__link(href=data.linkAnswer)
          +icon('count')

mixin menu_with_title(data)
  nav(class=`${data.gl_class}`)
    div(class=`${data.gl_class}__caption`)
      div(class=`${data.gl_class}__icon`)
        +icon(data.name_icon)
      h3(class=`${data.gl_class}__tittle`)= data.title
    +menu({
      gl_class: data.gl_class,
      items: data.items
    })
